
.ctrld {
    z-index: 1;
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: 0%;
    margin-top: 0%;
    width: 16%;
}

.ctrld button {
    font-size: smaller;
    border-radius: 5px;
}

.ctrld button:hover {
    background-color: orange !important;
}

.T {
    /* blue circle */
    background-color: blue;
}

.M {
    /* red circle */
    background-color: red;
}

.B {
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1;    
    border-radius: 50% !important;
    cursor: move;
    border: 1px solid black;
}

.fileList {
    background-color: #474747;
    /*needs to turn to scroll when it gets too long*/
    overflow: auto;
    max-height: 50vh;
}

.fileList li {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fileList li:hover {
    background-color: #333;
}

.Fselected {
    color: #8F8 !important;
}