
/* Color theme is the palette of the whole application *
/* used for lightmode / darkmode switch */
/*light palette*/
/* #F38E0A #F38E0A #7A7265 #FFFBBD #1D1A05 */
.theme-light {
  --color-primary: #F38E0A;
  --color-secondary: #5f75bd;
  --color-tertiary: #7A7265;
  --color-background: #FFFBBD;
  --color-text: #1D1A05;
}
/*dark palette*/
/* #1D1A05 #404267 #919098 #5D4B4E #655967 */
.theme-dark {
  --color-primary: #1D1A05;
  --color-secondary: #404267;
  --color-tertiary: #919098;
  --color-background: #5D4B4E;
  --color-text: #655967;
}

.colorTheme {
  color: var(--color-text);
  background-color: var(--color-background);
}

.selected {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.unselected {
  background-color: var(--color-background);
  color: var(--color-text);
}

.highlight {
  color: var(--color-primary);
}

.lowlight {
  color: var(--color-tertiary);
}