
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Arial';
    overflow: hidden;
}

label {
    font-size: medium;
    margin-left: auto;
    margin-right: 3px;
    /*center vertically*/
    margin-top: auto;
    margin-bottom: auto;
}

select {
    cursor: pointer;
    margin: 20px;
}

canvas {
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

div {
    /*height: 100vh;*/
    font-family: 'Arial';
    font-size: medium;
}

.Btn {
    border: none;
}

.btn-g-large button {
    font-size: x-large !important;
}

.spDark {
    background-color: #2b2b2b;
    color: white;
    transition: background-color 0s !important;
}

.spLight {
    background-color: #939393;
    color: white;
    transition: background-color 0s !important;
}

.spaDiv {
    height: 100vh;
}

.spWid {
    width: 100%;
}

.lf1 {
    width: 30%;
    float: left;    
}

.lfHead {
    height: 9%;
    overflow: hidden;
}

nav {
    color: white;
    justify-content: left;
    font-size: small;
    /* hide scroll bar ? */
}

article {
    height: 70%;
    border-radius: 12px;
    justify-content: left;
    font-size: medium;
    line-height: 2;
    white-space: pre-wrap;
    padding-left: 2%;
    padding-right: 6%;
    margin-right: 2%;
    margin-top: 10px;
    /* scroll doesnt appear until some text is off screen */
    margin-bottom: 30px;
    overflow: auto;
}

textarea {
    margin: 2%;
    width: 95%;
    height: 95%;
    overflow-y: scroll;
    font-family: 'Arial';
    font-size: medium;
}

input {
    margin: 2%;
}


/* restriced is removed when the user is logged in */
.restricted {
    /*grey out*/
    opacity: 0.5 !important;
    /*disable*/
    pointer-events: none !important;
}
/* restriced2 is removed when the user with sites is logged in */
.restricted2 {
    /*grey out*/
    opacity: 0.5 !important;
    /*disable*/
    pointer-events: none !important;
}
/* restriced3 is removed when an admin is logged in */
.restricted3 {
    display: none !important;
}

.defRestrictDark {
    /* used for buttons that are restricted because they are currently active */
    /*make look pushed in*/
    box-shadow: inset 0 0 10px 5px #172718 !important;
    opacity: 0.8 !important;
    pointer-events: none !important;
    background-color: #142b15 !important;
}

.defRestrictLight {
    box-shadow: inset 0 0 10px 5px #2b502d !important;
    opacity: 0.8 !important;
    pointer-events: none !important;
    background-color: #1a471c !important;
} 

.googPos {
    transform: translate(0%, 14%) !important;
}
.google {
    /* google svg in login button */
    position: absolute;
  
    min-height: 35px;
    min-width: 35px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    margin-left: 20px;
    padding: 6px;;
    max-height: 30px;
    max-width: 30px;
    background-color: white !important;
    border-radius: 12px !important;
    border: none;
    cursor: pointer;
    /*shadow*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translate(100%, -18%) scale(1);
}

.googAcntError {
    /* span tooltip under */
    /*dont wrap text*/
    white-space: nowrap;
    position: absolute;
    background-color: red;
    padding: 5px;
    border-radius: 12px;
    color: white;
    opacity: 0.7;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    /*center*/
    transform: translate(-50%, 80%);
}

.google:hover {
    transition: 0.2s;
    transform: translate(100%, -18%) scale(1.3);
    box-shadow: inset 0 0 5px 2px rgba(142, 140, 140, 0.5);
}

.google:active {
    transition: 0.1s;
    transform: translate(100%, -18%) scale(1.1);
    box-shadow: inset 0 0 9px 5px rgba(44, 44, 44, 0.5);
}

.signInParent {
    transform: translate(0%, -18%);
}

.signInError { 
    /* span tooltip under */
    position: absolute; 
    background-color: red;
    padding: 5px;
    border-radius: 12px;
    color: white;
    opacity: 0.7;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    /*center*/
    transform: translate(-90%, 120%);
}

.logo {
    height: 10%;
    margin: 2%;
    min-height: 50px;
    max-height: 80px;
    /*preserve aspect ratio*/
    width: auto;
}
/* size under 500px y */
@media screen and (max-height: 500px) {
    .logo {
        /* change with screen size */
        display: none !important;
    }
}

.bgDark {
    background-color: rgb(10, 10, 10);
}

.bgLight {
    background-color: rgb(182, 182, 182);
}

.fgDark {
    color: rgb(226, 226, 226);
    background-color: rgb(10, 10, 10);
}

.fgLight {
    color: rgb(28, 28, 28);
    background-color: rgb(182, 182, 182);
}

.btDark {
    background-color: gray;
    color: white;
    box-shadow: 0 0 5px 0 rgba(126, 126, 126, 0.5);

}

.btLight {
    background-color: lightgray;
    color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.btn-group {
    transition: 0.2s;
    height: fit-content
}

.btn-group button {
    font-size: larger;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

@media screen and (max-width: 1200px) {
    .btn-group button {
        /* change with screen size */
        font-size: medium !important;
    }
}

@media screen and (max-width: 800px) {
    .btn-group button {
        /* change with screen size */
        font-size: small !important;
    }
}

@media screen and (max-width: 500px) {
    .btn-group button {
        /* change with screen size */
        font-size: smaller !important;
    }
}

.g3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.g4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;    
}

.g5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

/* Add a background color on hover */
.btn-group button:hover {
    transition: .2s;
    background-color: #3e8e41;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.btn-group button:active {
    transition: 0.1s;
    background-color: #5eae51;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
